<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:form="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet1.css">
    <script src="js/handleForm.js"></script>
</head>
<body>
<div class="header">
    <h2>Student details</h2>
</div>

<form name = "studForm" method="post" action="/add_student" onclick="getVariable()">
    <div class="input-group">
        <label>Student Number</label>
        <input type="text" name="stud_no" id="stud_no" required>
        <span th:utext="${msg}"></span>
    </div>
    <div class="input-group">
        <label>First Name</label>
        <input type="text" name="stud_first_name" id="stud_first_name" required>
    </div>
    <div class="input-group">
        <label>Last Name</label>
        <input type="text" name="stud_last_name"id="stud_last_name" required>
    </div>
    <div class="input-group">
        <br>
        <button type="submit" class="btn" name="user">Register</button>     <input type="button" class="btn" value="Cancel" onclick="history.back()">
    </div>
</form>
</body>
</html>